<div
  class="container p-12 my-6"
  (click)="openDetailTaskModal()"
  (contextmenu)="contextMenu($event, taskItemOptionMenu)"
>
  <ng-container *ngIf="task.projectId">
    <nz-tag [nzColor]="projectInfo?.color" class="project-tag mb-6">
      <div class="project-name">{{ projectInfo?.name }}</div>
    </nz-tag>
  </ng-container>
  <div class="d-flex justify-content-space-between">
    <div class="task-name mb-6">
      {{ task.name }}
    </div>
  </div>
  <div class="d-flex justify-content-space-between">
    <div class="check-list">
      <div *ngIf="task.checkList && task.checkList.length > 0">
        <i class="far fa-check-square mr-6"></i>
        {{ checkListCompleteCount + "/" + checkListTotalCount }}
      </div>
    </div>
    <div class="priority">
      <ng-container *ngIf="task.priority !== TaskPriority.Undefined">
        <nz-tag [nzColor]="getPriorityColor(task.priority)">{{
          getPriorityLabel(task.priority)
        }}</nz-tag>
      </ng-container>
    </div>
  </div>
</div>

<app-add-task-modal
  #addTaskModalInItem
  [task]="task"
  [viewMode]="TaskItemViewMode.View"
  (onCheckTodo)="getCheckListCount()"
  (onUpdateTask)="actionWhenUpdateTask()"
></app-add-task-modal>

<nz-dropdown-menu #taskItemOptionMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="quickChangeTaskStatus()">
      Chuyển trạng thái nhanh
    </li>
    <!-- <li nz-menu-item>2nd menu item</li> -->
  </ul>
</nz-dropdown-menu>
