<div class="container mt-12">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="8" class="open-task-list">
      <div
        class="list-header d-flex align-items-center justify-content-space-between"
      >
        <div class="header__title">
          Chưa thực hiện
          <span
            *ngIf="openDuration != ''"
            nz-tooltip
            nzTooltipTitle="Thời gian thực hiện còn lại"
            >({{ openDuration }})</span
          >
        </div>
        <div class="header__action">
          <button nz-button nzShape="circle" (click)="openAddTaskModal(TaskStatus.Open)">
            <i class="fas fa-plus"></i>
          </button>

          <button nz-button nzType="text">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="list-task-scroll">
        <div
          cdkDropList
          #openList="cdkDropList"
          [cdkDropListData]="listOpenTask"
          [cdkDropListConnectedTo]="[inProgressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-task-item
            cdkDrag
            class="d-flex"
            *ngFor="let task of listOpenTask"
            [task]="task"
            (onTaskChange)="getAllTask()"
          ></app-task-item>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" class="in-progress-task-list">
      <div
        class="list-header d-flex align-items-center justify-content-space-between"
      >
        <div class="header__title">
          Đang thực hiện
          <span
            *ngIf="inProgressDuration != ''"
            nz-tooltip
            nzTooltipTitle="Thời gian thực hiện còn lại"
            >({{ inProgressDuration }})</span
          >
        </div>
        <div class="header__action">
          <button nz-button nzShape="circle" (click)="openAddTaskModal(TaskStatus.InProgress)">
            <i class="fas fa-plus"></i>
          </button>

          <button nz-button nzType="text">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="list-task-scroll">
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="listInProgressTask"
          [cdkDropListConnectedTo]="[openList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <app-task-item
            cdkDrag
            class="d-flex"
            *ngFor="let task of listInProgressTask"
            [task]="task"
            (onTaskChange)="getAllTask()"
          ></app-task-item>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8" class="done-task-list">
      <div
        class="list-header d-flex align-items-center justify-content-space-between"
      >
        <div class="header__title">Hoàn thành</div>
        <div class="header__action">
          <button nz-button nzShape="circle" (click)="openAddTaskModal(TaskStatus.Done)">
            <i class="fas fa-plus"></i>
          </button>

          <button nz-button nzType="text">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="list-task-scroll">
        <div *ngFor="let task of listDoneTask">
          <app-task-item [task]="task"></app-task-item>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-task-modal
  #addTaskModal
  (onAddTask)="getAllTask()"
></app-add-task-modal>
