<div class="container">
  <div
    class="group-header d-flex justify-content-space-between align-items-center"
  >
    <div class="d-flex">
      <div class="group-icon"><i class="far fa-calendar-check"></i></div>
      <div class="group-title mx-12">Theo dõi thói quen ({{completedTaskDaily!}}/{{totalTaskDaily!}})</div>
    </div>
    <button nz-button nzShape="circle" (click)="openAddTaskDailyModal()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="group-body d-flex flex-direction-column">
    <nz-divider></nz-divider>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <app-daily-task-item class="d-flex" *ngFor="let task of listTaskDaily" cdkDrag [task]="task" (onDeleteTaskDaily)="getAllTaskDaily()" (onUpdateTaskDaily)="setDailyTaskAmount()"></app-daily-task-item>
    </div>
  </div>
</div>

<app-add-daily-task-modal #addDailyTaskModal (onUpdateTaskDaily)="getAllTaskDaily()"></app-add-daily-task-modal>

