<div class="container">
  <div
    class="group-header d-flex justify-content-space-between align-items-center"
  >
    <div class="d-flex">
      <div class="group-icon"><i class="fas fa-check-square"></i></div>
      <div class="group-title mx-12">Theo dõi thói quen ({{completedTaskDaily!}}/{{totalTaskDaily!}})</div>
    </div>
    <button nz-button nzShape="circle" (click)="openAddTaskDailyModal()"><i class="fas fa-plus"></i></button>
  </div>
  <div class="group-body d-flex flex-direction-column">
    <nz-divider></nz-divider>
    <ng-container *ngFor="let task of listTaskDaily">
      <app-daily-task-item [task]="task" (onDeleteTaskDaily)="getAllTaskDaily()"></app-daily-task-item>
    </ng-container>
  </div>
</div>

<app-add-daily-task-modal #addDailyTaskModal (onAddTaskDaily)="getAllTaskDaily()"></app-add-daily-task-modal>

