<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="
    viewMode === TaskItemViewMode.Create ? 'Thêm công việc mới' : task.name
  "
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="onClickModalOk()"
  [nzOkText]="
    viewMode === TaskItemViewMode.View
      ? 'Sửa'
      : viewMode === TaskItemViewMode.Create
      ? 'Tạo công việc'
      : 'Lưu'
  "
  [nzCancelText]="viewMode === TaskItemViewMode.View ? 'Đóng' : 'Hủy'"
  (nzAfterClose)="afterCloseTaskModal()"
>
  <ng-container *nzModalContent>
    <ng-container
      *ngIf="
        viewMode === TaskItemViewMode.Create ||
        viewMode === TaskItemViewMode.Edit
      "
    >
      <form nz-form [formGroup]="addTaskForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
            >Tên công việc</nz-form-label
          >
          <nz-form-control nzErrorTip="Tên công việc không được để trống!">
            <input
              nz-input
              placeholder="Nhập tên công việc"
              id="name"
              formControlName="name"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="priority"
            >Thuộc dự án</nz-form-label
          >
          <nz-form-control>
            <nz-select
              id="projectId"
              nzPlaceHolder="Chọn dự án"
              [nzShowSearch]="true"
              formControlName="projectId"
            >
              <nz-option
                *ngFor="let project of listProjects"
                [nzValue]="project.id"
                [nzLabel]="project.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="duration"
            >Thời gian</nz-form-label
          >
          <nz-form-control>
            <!-- <input
              nz-input
              placeholder="Nhập thời gian"
              id="duration"
              formControlName="duration"
            /> -->
            <nz-input-number
              placeholder="Nhập thời gian"
              id="duration"
              formControlName="duration"
              [nzStep]="1"
              [nzMin]="1"
              style="width: 100%"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="priority"
            >Độ ưu tiên</nz-form-label
          >
          <nz-form-control>
            <nz-select
              nzPlaceHolder="Chọn độ ưu tiên"
              id="priority"
              formControlName="priority"
            >
              <nz-option
                [nzValue]="TaskPriority.High"
                nzLabel="Cao"
              ></nz-option>
              <nz-option
                [nzValue]="TaskPriority.Medium"
                nzLabel="Trung bình"
              ></nz-option>
              <nz-option
                [nzValue]="TaskPriority.Low"
                nzLabel="Thấp"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"
            >Trạng thái</nz-form-label
          >
          <nz-form-control nzErrorTip="Trạng thái không được để trống!">
            <nz-select
              nzPlaceholder="Chọn trạng thái"
              id="status"
              formControlName="status"
            >
              <nz-option
                [nzValue]="TaskStatus.Open"
                nzLabel="Chưa thực hiện"
              ></nz-option>
              <nz-option
                [nzValue]="TaskStatus.InProgress"
                nzLabel="Đang thực hiện"
              ></nz-option>
              <nz-option
                [nzValue]="TaskStatus.Done"
                nzLabel="Hoàn thành"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="startDate"
            >Ngày bắt đầu</nz-form-label
          >
          <nz-form-control nzErrorTip="Ngày bắt đầu không được để trống!">
            <nz-date-picker
              class="w-100"
              nzPlaceHolder="Chọn ngày bắt đầu"
              [nzFormat]="'dd/MM/yyyy'"
              id="startDate"
              formControlName="startDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="finishDate"
            >Ngày kết thúc</nz-form-label
          >
          <nz-form-control nzErrorTip="Ngày kết thúc không được để trống!">
            <nz-date-picker
              class="w-100"
              nzPlaceHolder="Chọn ngày kết thúc"
              [nzFormat]="'dd/MM/yyyy'"
              id="finishDate"
              formControlName="finishDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description"
            >Mô tả</nz-form-label
          >
          <nz-form-control>
            <textarea
              nz-input
              rows="4"
              placeholder="Nhập mô tả..."
              id="description"
              formControlName="description"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkList"
            >Theo dõi</nz-form-label
          >
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <!-- <div *ngFor="let step of task.checkList; let i = index">
              <label nz-checkbox [(ngModel)]="step.checked" (ngModelChange)="onCheckStep($event, i)">
                <div [ngClass]="step.checked? 'text-decoration-line-through' : ''">{{
                step.content
              }}</div></label>
            </div> -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
              <div cdkDrag *ngFor="let step of newCheckList; let i = index">
                <div
                  *ngIf="
                    editingCheckListIndex != i || !isEditingCheckList;
                    else editCheckListItem
                  "
                  class="list-step p-6 d-flex justify-content-space-between"
                >
                  <label
                    nz-checkbox
                    (contextmenu)="
                      openCheckListItemMenu($event, checkListItemMenu, i)
                    "
                    [(ngModel)]="step.checked"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <div
                      [ngClass]="
                        step.checked ? 'text-decoration-line-through' : ''
                      "
                      class="step-label-editing"
                    >
                      {{ step.content }}
                    </div></label
                  >
                  <button
                    nz-button
                    nzDanger
                    nzSize="small"
                    (click)="onDeleteAddCheckListItem(i)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <ng-template #editCheckListItem>
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <textarea
                        nz-input
                        [(ngModel)]="step.content"
                        [ngModelOptions]="{ standalone: true }"
                        (keyup.enter)="saveChangeCheckListItem(step.content, i)"
                        (keydown.enter)="onEnterKeyInAddCheckList($event)"
                      ></textarea>
                    </div>
                  </div>
                  <div nz-row class="mt-6">
                    <div nz-col nzSpan="24">
                      <button
                        nz-button
                        nzType="primary"
                        (click)="saveChangeCheckListItem(step.content, i)"
                      >
                        Lưu
                      </button>
                      <button
                        nz-button
                        nzType="text"
                        (click)="cancelEditCheckListItem()"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <div *ngIf="isAddingCheckList; else addCheckList" class="new-step">
              <textarea
                nz-input
                rows="2"
                placeholder="Thêm một bước..."
                id="checkList"
                ng-trim="false"
                [(ngModel)]="currentAddCheckListItem"
                [ngModelOptions]="{ standalone: true }"
                (keyup.enter)="onClickAddCheckList($event)"
                (keydown.enter)="onEnterKeyInAddCheckList($event)"
              ></textarea>
              <div class="new-step__action mt-6">
                <button
                  nz-button
                  nzType="primary"
                  class="mr-6"
                  (click)="onClickAddCheckList()"
                >
                  Thêm
                </button>
                <button nz-button (click)="onClickCancelAddCheckList()">
                  Hủy
                </button>
              </div>
            </div>
            <ng-template #addCheckList>
              <button
                nz-button
                nzType="dashed"
                (click)="onClickAddNewCheckList()"
              >
                Thêm một bước
              </button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
    <ng-container *ngIf="viewMode === TaskItemViewMode.View">
      <div *ngIf="task.duration" nz-row class="mb-6">
        <div nz-col nzSpan="4" class="d-flex align-items-center">
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="onClickCountDown()"
          >
            <span nz-icon nzType="play-circle"></span>
          </button>
        </div>
        <div nz-col nzSpan="20">
          <nz-countdown
            *ngIf="isCountdown"
            [nzValue]="deadline"
            [nzTitle]="'Thời gian còn lại'"
          ></nz-countdown>
        </div>
      </div>
      <div class="description-block d-flex">
        <div class="description__icon mr-12">
          <i class="fas fa-align-left"></i>
        </div>
        <div class="description__content">
          <div class="description__label mb-6"><strong>Mô tả</strong></div>
          <div>
            {{ task.description ? task.description : "Chưa có mô tả..." }}
          </div>
        </div>
      </div>
      <div class="check-list-block d-flex mt-12">
        <div class="check-list__icon mr-12">
          <i class="far fa-check-square"></i>
        </div>
        <div class="check-list__content w-100">
          <strong class="check-list__label"
            >Theo dõi thực hiện
            <span
              *ngIf="isShowLoadingCheckList"
              nz-icon
              nzType="loading"
              nzTheme="outline"
            ></span>
          </strong>
          <nz-progress [nzPercent]="checkListPercent"></nz-progress>
          <div cdkDropList (cdkDropListDropped)="dropInViewMode($event)">
            <div cdkDrag *ngFor="let step of task.checkList; let i = index">
              <div
                *ngIf="
                  editingCheckListIndex != i || !isEditingCheckList;
                  else editCheckListItem
                "
                class="list-step p-6"
              >
                <label
                  nz-checkbox
                  (contextmenu)="
                    openCheckListItemMenu($event, checkListItemMenu, i)
                  "
                  [(ngModel)]="step.checked"
                  (ngModelChange)="onCheckStep($event, i)"
                >
                  <div
                    [ngClass]="
                      step.checked ? 'text-decoration-line-through' : ''
                    "
                    class="step-label"
                  >
                    {{ step.content }}
                  </div></label
                >
              </div>
              <ng-template #editCheckListItem>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <textarea
                      nz-input
                      [(ngModel)]="step.content"
                      [ngModelOptions]="{ standalone: true }"
                      (keyup.enter)="saveChangeCheckListItem(step.content, i)"
                      (keydown.enter)="onEnterKeyInAddCheckList($event)"
                    ></textarea>
                  </div>
                </div>
                <div nz-row class="mt-6">
                  <div nz-col nzSpan="24">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="saveChangeCheckListItem(step.content, i)"
                    >
                      Lưu
                    </button>
                    <button
                      nz-button
                      nzType="text"
                      (click)="cancelEditCheckListItem()"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="mt-12">
            <div *ngIf="isAddingCheckList; else addCheckList" class="new-step">
              <textarea
                nz-input
                rows="2"
                placeholder="Thêm một bước..."
                id="checkList"
                ng-trim="false"
                [(ngModel)]="currentAddCheckListItem"
                [ngModelOptions]="{ standalone: true }"
                (keyup.enter)="onClickAddCheckList($event)"
                (keydown.enter)="onEnterKeyInAddCheckList($event)"
              ></textarea>
              <div class="new-step__action mt-6">
                <button
                  nz-button
                  nzType="primary"
                  class="mr-6"
                  (click)="onClickAddCheckList()"
                >
                  Thêm
                </button>
                <button nz-button (click)="onClickCancelAddCheckList()">
                  Hủy
                </button>
              </div>
            </div>
            <ng-template #addCheckList>
              <button
                nz-button
                nzType="dashed"
                (click)="onClickAddNewCheckList()"
              >
                Thêm một bước
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</nz-modal>

<nz-dropdown-menu #checkListItemMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="onEditCheckListItem()">
      <i class="fas fa-pen mr-6"></i>Sửa
    </li>
    <li nz-menu-item (click)="onCopyCheckListItem()">
      <i class="fas fa-copy mr-6"></i>Nhân bản
    </li>
    <li
      *ngIf="viewMode == TaskItemViewMode.View"
      nzDanger
      nz-menu-item
      (click)="onDeleteCheckListItemViewMode()"
    >
      <i class="fas fa-trash mr-6"></i>Xóa
    </li>
  </ul>
</nz-dropdown-menu>
