/* ::ng-deep button.ant-btn {
  border-radius: 10px;
} */

.view-type__button {
  border-radius: 10px;
}

.container {
  /* height: 100vh; */
  /* overflow: scroll; */
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}
