<div class="container p-24">
  <div class="view-type">
    <button nz-button [nzType]="currentViewType === ViewType.Kanban?'primary':'default'" class="view-type__button mr-6">
      <i class="fas fa-th-large mr-12"></i>
      Kanban
    </button>
    <button nz-button class="view-type__button mr-6">
      <i class="fas fa-list mr-12"></i>
      List
    </button>
    <button nz-button class="view-type__button mr-6">
      <i class="fas fa-calendar mr-12"></i>
      Calendar
    </button>
  </div>
  <div class="task-group">
    <app-task-group></app-task-group>
  </div>
</div>
