.uncomplete-task-container {
  border: 1px solid #ccc;
  border-radius: 15px;
}

.uncomplete-task-container:hover {
  background-color: #eee;
  /* cursor: pointer; */
}

.uncomplete-task-container p {
  margin-bottom: 0;
}
