.container {
  box-shadow: rgba(0, 0, 0, 0.15) 2.6px 2.6px 1.95px 2.6px;
  height: 100vh;
  background-color: white;
}

/* LOGO */
.logo img {
  width: 40px;
}

.logo h1 {
  margin-bottom: 0;
}

.user-info {
  position: fixed;
  left: 10px;
  bottom: 10px;
}
